
h1{color:blue;}
.main{text-align: center;
}
.main{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.second{text-align: center;}
.main{background-color: aquamarine;}
.second{color: rgb(241, 3, 35);}
.second{background-color: rgb(238, 255, 127);}
img {width:100%}
.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px
}

